<div class="container-fluid py-4">
    <h2 class="mb-4">Tambah Kategori Baru</h2>

    <form>
        <div class="form-group">
            <label>Nama Kategori</label>
            <input type="text" class="form-control" placeholder="Contoh: Aksesoris">
        </div>

        <button type="submit" class="btn btn-success mt-3">
            <i class="fa fa-save mr-1"></i> Simpan Kategori
        </button>
        <button type="button" class="btn btn-secondary mt-3 ml-2" onclick="loadPage('../pages/kategori/kategori.html')">
            <i class="fa fa-arrow-left mr-1"></i> Kembali
        </button>
    </form>
</div>
